

    table {
    font-family: sans-serif;
    font-size: 0.8rem;    
    letter-spacing: 1px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 15em;
    top: 10;
    right: 0;
    height: 90%;
    width: 100%;
    border-collapse: collapse;

    }


    caption {
    caption-side: bottom;
    padding: 50px;
    }

    th   {
    padding: 8px 10px;
    color: #000000;
    }

    td {
    text-align: center;
    }

    th, td{
      border: none;
    }

    tr:nth-child(1) {
      border-top: 1px solid #000000; /* Black border below header */
    }

    body{
        background-image: url('fond_rouge.jpg');    
    }
    
    #Suivant{
        position:absolute;
        bottom: 10px; /* Adjust the bottom margin as needed */
        left: 80%;
        background-color: #4EAF5D;
        color: #ffffff;
    }

    #Precedant{
        position:absolute;
        bottom: 0; /* Adjust the bottom margin as needed */
        left: 15%;
        background-color: #29ABFC;
        color: #ffffff;
    }

    #parent {
      position: relative;
    }
  
    #bottom {
      position: absolute;
      bottom: 0; /* set the bottom to 0*/
    }
    
    
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        text-decoration: none;
        font-size: 18px;
        border-radius: 10px;
        width: 200px;
        height: 40px;
        font-weight: bold;
        border: 2px solid #000000;
        transition: 0.3s;
        box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
      }
      
    button:hover {
        box-shadow: 0 0 #333;
        color: #fff;
        background-color: #333;
    }

    #Page{
        position: absolute;
        bottom: 10px; /* Adjust the bottom margin as needed */
        left: 50%;
        color: #000000;
        background-color: #ffffff;
        border-radius: 5px;
    }

    .modal {
      display: none;
    }
    .modal-back {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba( 0, 0, 0, .25 )
    }
    .modal-container {
      position: fixed;
      top: 50%;
      left: 50%;
      padding: 25px;
      background: white;
      transform: translate(-50%, -50%)
    }

    .modal2 {
      display: none;
    }
    .modal-back2 {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba( 0, 0, 0, .25 )
    }
    .modal-container2 {
      position: fixed;
      top: 50%;
      left: 50%;
      padding: 25px;
      background: white;
      transform: translate(-50%, -50%)
    }

    tr:nth-child(odd) {
      background-color: #ffcccc; /* Couleur de fond gris clair pour les lignes impaires */
    }
    
    tr:nth-child(even) {
      background-color: #ffffff; /* Couleur de fond gris légèrement plus foncé pour les lignes paires */
    }
    label{
      color: white;
    }